<section id="blog" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
	<div class="container">
		<div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
			<div>
				<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Blog</h2>
			</div>
			<div>
				<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Lorem ipsum dolor sit amet
					conse ctetur adipi sicing elit. Doloribus numquam quis.</h3>
			</div>
		</div>

		<div class="demo-carousel" [style.height]="parentHeight" (mouseenter)='hideOverlay = true' (mouseleave)='hideOverlay = false'>
			<app-mat-carousel #matCarousel [timings]="timings" [autoplay]="autoplay" [interval]="interval" [loop]="loop"
				[hideArrows]="hideArrows" [hideIndicators]="hideIndicators" [color]="color" [maxWidth]="maxWidth"
				[proportion]="proportion" [useKeyboard]="useKeyboard" [useMouseWheel]="useMouseWheel"
				[orientation]="orientation" [slides]="slides" [maintainAspectRatio]="maintainAspectRatio"
				[slideHeight]="slideHeight">
				<ng-container *ngFor='let blog of blogs ;let i = index'>
					<app-mat-carousel-slide #matCarouselSlide [image]="blog.src" [overlayColor]="overlayColor"
						[hideOverlay]="hideOverlay">

						<div class="item" [appAbout]>
							<mat-card>
								<!-- <img mat-card-image [attr.src]="blog.src"> -->
								<mat-card-content>
									<a href="#blog">
										<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">{{ blog.title }}
										</h5>
									</a>
									<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
										{{ blog.description}}
									</p>

								</mat-card-content>
							</mat-card>
						</div>
					</app-mat-carousel-slide>
				</ng-container>

			</app-mat-carousel>
		</div>


		<div fxLayout="row" fxLayoutAlign="center center">
			<button (click)='matCarousel.previous()' class="customPrevBtn" mat-raised-button color="primary">Prev</button>
			<button (click)='matCarousel.next()' class="customNextBtn" mat-raised-button color="accent">Next</button>
		</div>
	</div>
</section>